In [ ]:
# a group of code which reduce redundant

In [ ]:
''' def func_name(parameter1, parameter2):
        operations
        return result



    func_name(arument1,argument2)



'''

In [1]:
#example-1: calculate sum
def sum_calcutaion(x,y): #the whole process is called fuction defination and x,y is called parameters 
    summation = x + y
    return summation

In [2]:
#now make summation between 5 6
sum_calcutaion(5,6) # this process is called fuction call and 5 and 6 is called arguments
#expected result is 11

11

In [3]:
#we can store this summation into a variable,. leat assume i want ot store it into z variable

z = sum_calcutaion(5,5)

In [4]:
# we can print that variable
print(z)

10

# another simple function

In [1]:
def hello_print():
    print('hello')

In [4]:
hello_print()
hello_print()
hello_print()

hello
hello
hello

In [5]:
#if we do not return of a function , then the print of that function will be none
def none_func():
    print('abul')

In [6]:
a = none_func()
print(a)

abul
None

In [7]:
#let calculate average numbers function
def specific_average (x,y,z):
    sum_numbers = x + y + z
    avg = sum_numbers / 3
    return avg

In [8]:
specific_average(1,2,3)

2.0

In [9]:
#now lets write a generic code of average

def average(values):
    if not values:
        return 0
    return sum(values)/len(values)

In [14]:
average(1,2,3)

TypeError: average() takes 1 positional argument but 3 were given

In [ ]:
'''
Exüplanation of Error:

error: TypeError: average() takes 1 positional argument but 3 were given

what does it mean by 1 positional, but we provide 3 argument?
Answer: look we provided one position parameters when we defined function: def average(values), valuge only one postion
Thus, which structure can represent multiple numbers in a singele postion, that list


'''

In [15]:
average([1,2,3]) # here only one position but contains many numbers

2.0

In [16]:
# so how do i make average for another data structures data like tuple , sets etc
# we will make list all types data into the list

def all_avg(numbers):
    list_num = list(numbers)
    if not list_num:
        return 0
    return sum(list_num ) / len(list_num )

In [20]:
all_avg({1,2,3})

2.0

In [ ]:
#function parameters arguments : shift + tab

In [26]:
print('Arif',end = ' ')
print('Arif')

Arif Arif

In [27]:
#Default parameter
'''
lets assume, we have written a function whith parameters but we didn't pass any arguments when we are calling this function.
what will happen then?

Answer:
TypeError: mult() missing 2 required positional arguments: 'x' and 'y'
what does it mean ??
Means that in the function we have two parameters but during calling function we din't pass two arguments.

'''
def mult(x,y):
    multipöication = x * y
    return multipöication

In [28]:
mult()

TypeError: mult() missing 2 required positional arguments: 'x' and 'y'

In [29]:
#During passing we will pass two values which is called default value
def mult(a=1,b=1):
    multiplication = a * b
    return multiplication

In [30]:
#Now we will call function without arguments
mult()

1

In [31]:
#lets assume we will pass only one default value another we will give it as argument
# in this case non default values folled by default value

def mult(a,b=1):
    multiplication = a * b
    return multiplication

In [32]:
mult(2)

2

In [33]:
# if we provide first parameter default values and second parameter empty, let's see what ahppen

def mult(a=2,b):
    multiplication = a * b
    return multiplication

SyntaxError: non-default argument follows default argument (2410837685.py, line 3)